.error-section{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}
.error-section{
    .error{
        h2{
            padding-top: 30px;
            font-size: 48px;
            font-weight: 500;
            color: #222;
            display: flex;
           margin-left: 50px;
           text-align: center;
        }
        p{
            color: #555;
            font-weight: 400;
            padding-top: 20px;
            font-size: 20px;
            max-width: 530px;
            text-align: center;
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            transition: 0.5s ease-in-out;
            text-transform: uppercase;
        }
        button:hover{
            background-color: #283D4B;
            color: #fff;
        }
    }
}


@media(max-width:768px){
    .error-section{
        .error{
            img{
                width: 100%;
            }
       
          
        }
    }
}

@media(max-width:576px){
    .error-section{
        .error{
            text-align: center;
        }
    }
}