.monitoring-section{
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background: url(./plan.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
.monitoring-section{
    .monitoring{
text-align: center;
        h5{
            color: #11c0da;
            font-weight: 500;
            font-size: 18px;
            font-family: "Montserrat", Sans-serif;
        }
        h2{
            color: #fff;
            font-size: 42px;
            font-weight: 700;
            padding-bottom: 12px;
            padding-top: 12px;
            font-family: "Montserrat", Sans-serif;
            
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            max-width: 860px;
        }
        .btn-section{
            display: flex;
            // margin: 0 auto;
            align-items: center;
            justify-content: center;
        }
        button{
            padding: 10px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 14px;
        }
      .pricing{
        width: 150px;
        height: 45px;
        border-radius: 4px;
        border: 2px solid #11c0da;
        cursor: pointer;
    background-color: transparent;
        color: #fff;
        font-weight: 600;
        outline:  none;
        transition:  0.4s ease;
        margin-right: 20px; 
      }
        
        
    }
}

.health-section{
    .left-side{
        h2{
            font-family: "Montserrat", Sans-serif;
            font-size: 42px;
            font-weight: 700;
        }
        .word{
            padding-top: 25px;
        }
        a{
            color: #11c0da;
            font-weight: 500;
        }
        span{
            font-size: 16px;
            color: #555;
            padding-left: 5px;
            font-family: "Montserrat", Sans-serif;
        }
    }
}
.health-section{
    .right-side{
        .image{

            img{
                width: 100%;
            }
        }
    }
}

.sentiment-section{
    padding-top: 110px;
    background-color: #cbecee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sentiment-section{
    .right-side{
        h2{
            font-weight: 700;
            font-size: 30px;
            max-width: 560px;
            padding-bottom: 15px;
            font-family: "Montserrat", Sans-serif;
        }
        p{
            color: #555;
            font-family: "Montserrat", Sans-serif;
            font-size: 17px;
        }
    }
}
.sentiment-section{
    .left-side{
        .image{
            width: 450px;
        }
        img{
            width: 100%;
        }
    }
}

.analysis-section{
    display: flex;
    align-items: center;
    justify-content: center;
    .left-side{
        h2{
            font-weight: 700;
            font-size: 30px;
            max-width: 560px;
            padding-bottom: 15px;
            font-family: "Montserrat", Sans-serif;
        }
        p{
            color: #555;
            font-family: "Montserrat", Sans-serif;
            font-size: 17px;
            max-width: 560px;
        }
    }
    .right-side{
        .image{
            width: 450px;
            img{
                width: 100%;
            }
        }
    }
}
.social-listening-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbecee;
}
.social-listening-section{
    .right-side{
        h2{
            font-size: 30px;
            color: #000;
            font-weight: 700;
            font-family: "Montserrat", Sans-serif;
            padding-bottom: 15px;
            max-width: 560px;
        }
        p{
            font-size: 17px;
            color: #555;
            font-family: "Montserrat", Sans-serif;
            max-width: 560px;
        }
    }
    .left-side{
        .image{
            width: 450px;
            img{
                width: 100%;
            }
        }
    }
}
.panel-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-section{
    .left-side{
        h2{
            font-size: 30px;
            font-family: "Montserrat", Sans-serif;
            font-weight: 700;
            color: #000;
            max-width: 560px;
            padding-bottom: 15px;
        }
        p{
            font-size: 17px;
            color: #555;
            font-family: "Montserrat", Sans-serif;
            max-width: 560px;
        }
    }
    .right-side{
        .image{
            width: 450px;
        }
        img{
            width: 100%;
        }
    }
}

.offer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbecee;
    flex-direction: column;
    .offer{
        padding: 2rem;
        h2{
          font-size: 32px;
          font-weight: 500; 
          font-family: "Montserrat", Sans-serif; 
        }
    }
    .carts-images{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    
        .carts{
            display: flex;
            margin-left: 20px;
            .image{
                width: 185px;
                overflow: hidden;
                  margin: 0 auto;
                align-content: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .card{
                height: 200px;
                width: 350px;
                overflow: hidden;
                border: none;
            }
                
               
                h5{
                    font-size: 20px;
                    padding-top: 5px;
                    font-family: "Montserrat", Sans-serif;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
      
    }
    .features-section{
        padding-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        .feature{
            h2{
                color: #000;
                font-weight: 600;
                font-size: 32px;
                font-family: "Montserrat", Sans-serif;
            }
        }
    }
   .tables-section{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    table, th, td{
        border: 1px solid #eee;
    }
    th{
        background-color: #26bec7;
        color: #fff;
        padding: 12px;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 600;
    }
    td{
        background-color: #dadada;
        padding: 10px;
    }
    .check{
        background-color: #11c0da;
        color: #fff;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
    }
    .white{
        background-color: #fff;
    }
    .bagla{
        background-color: #ff0000;
        color: #fff;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
    }
    table{
        width: 1200px;
        border-bottom: 10px solid #26bec7;
    }
   }
   .trend-section{
    margin-top: 80px;
    padding-top: 70px;
    background-color: #D7F3F4;
    padding-bottom: 70px;
    .trend{
        text-align: center;
        h2{
            font-family: "Montserrat", Sans-serif;
            font-size: 26px;
            font-weight: 600;
           text-align: center;
        }
        .image{
            width: 335px;
            display: block;
            margin: 0 auto;
            padding-top: 20px;
            img{
                width: 100%;
            }
        }
        .buttons-section{
            margin-top: 60px;
            .btn-color{
                background-color: #26BEC7;
                width: 200px;
                font-size: 15px;
                line-height: 25px;
                font-family: "Montserrat", Sans-serif;
                transition: all 0.4s ease;
                text-transform: uppercase;
                border-radius: 5px;
                
            }
            .btn-color:hover{
                background-color: #000;
                color: #fff;
        }
        .bordering{
            background-color: transparent;
            text-transform: uppercase;
            color: #222;
            font-family: "Montserrat", Sans-serif;
            border: 3px solid #26BEC7;
            border-radius: 5px;
         
        }
    }
    }
   }



@media(max-width:1200px){
    .sentiment-section{
        .left-side{
            .image{
                width: 100%;
            }
        }
    }
}

@media(max-width:991px){
    .health-section{
        .right-side{
            padding-top: 200px;
        }
    }
    .offer-section{
        .carts-images{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .carts{
                .image{
                    width: 150px;
                }
                h5{
                    font-size: 17px;
                }
            }
        }
    }
}

@media(max-width:768px){
    .monitoring-section{
        padding-top: 130px;
        .monitoring{
            h2{
                font-size: 28px;
            }
            p{
                font-size: 17px;
            }
        }
      
    }
   
   
    .health-section{
        .right-side{
            padding-top: 0;
        }
    }
    .sentiment-section{
        .right-side{
            h2 {
                font-size: 20px;
                padding-top: 15px;
                padding-left: 10px;
            }
        }
    }
   .analysis-section{
    .left-side{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    
    h2{
        font-size: 20px;
        padding-top: 15px;
        padding-left: 10px;
    
    }
   
    .right-side{
        display: flex;

        align-items: center;
        justify-content: center;  
        }
        .image{
            width: 300px;
            img{
                width: 100%;
            }
        }
    
   }
   .analysis-section{
    .right-side{
        .image{
            width: 330px;
            img{
                width: 100%;
            }
        }
    }
   }
   .social-listening-section{
    .right-side{
        h2{
            padding-left: 10px;
            font-size: 20px;
            padding-top: 10px;
        }
    }
    .left-side{
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        .image{
            width: 450px;
        }
        img{
            width: 100%;
        }
    }
   }
   .right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
   }
   .panel-section{
     .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            padding-left: 10px;
        }
    
     }
   }
   .offer-section{
    .offer{
        h2{
            font-size: 20px;
            text-align: center;
        }
    }
    .carts-images{
       .carts{
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    .card{
        height: 160px;
        width: 250px;
        margin-top: 20px;
    }
       }
      
    }
   }
   .trend-section{
    .trend{
        h2{
            font-size: 20px;
        }
    }
   }
}

@media(max-width:459px){
    .trend-section{
        .trend{
            .buttons-section{
                .bordering{
                    margin-top: 20px;
                }
            }
        }
    }
}